form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 400px;
  
    border: 2px solid #ddd; 
    border-radius: 8px; 
    padding: 20px;
    background-color: rgb(210, 233, 237); 
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px; 
  }
  hr{
    border: 1px solid #1b69ae; /* Adjust the color and style as needed */
    margin: 10px 0; /* Adjust the margin as needed */
    width: 100%;
  }
  
  h3 {
    color: #1b69ae;
  }
  .section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .material-symbols-outlined {
    margin-right: 10px; /* Adjust the spacing between symbol and title */
  }
  