$md-fliteblue: (
  50 : #e0e9f9,
  100 : #b3c8f1,
  200 : #80a3e7,
  300 : #4d7edd,
  400 : #2662d6,
  500 : #0046cf,
  600 : #003fca,
  700 : #0037c3,
  800 : #002fbd,
  900 : #0020b2,
  A100 : #dbdfff,
  A200 : #a8b2ff,
  A400 : #7585ff,
  A700 : #5c6eff,
  black: #000,
  white: #fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
