.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
  }

.register-form {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 21px;
}

.input-field {
  width: 100%;
  margin-bottom: 16px;
}

#cloud1,
#cloud2,
#cloud3 {
  position: fixed;
}

#cloud1 {
  top: 0;
  left: -5em;
  width: 5em;
  animation: floatRight 20s ease-in alternate infinite;
}

#cloud2 {
  bottom: 0;
  right: -20em;
  width: 20em;
  animation: floatLeft 30s ease-in alternate infinite;
}

#cloud3 {
  top: 20em;
  right: -30em;
  width: 30em;
  animation: floatLeft 15s ease-in-out alternate infinite;
  z-index: 1;
}

/* Cloud animation moving right */
@keyframes floatRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(150vw, 30%);
  }
}

/* Cloud animation moving left */
@keyframes floatLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200vw, -40%);
  }
}
