.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap between cards as needed */
  }

mat-card {
    flex: 1 1 300px; /* Adjust the card size as needed */
    margin: 1.5%;
    padding: 3%;
    background-color: rgb(234, 248, 251);
  }

mat-card-content{
  background-color: rgb(234, 248, 251);
}

h1 {
  text-align: center;
  width: 100%;
}

h2, h3{
    text-align: center;
    width: 100%;
    background-color: rgb(234, 248, 251);
}

p, strong{
    text-align: center;
    background-color: rgb(234, 248, 251);
}




