form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 400px;

  border: 2px solid #ddd; 
  border-radius: 8px; 
  padding: 20px;
  background-color: rgb(210, 233, 237); 
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px; 
}
