// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '../../node_modules/@angular/material/index' as mat;
@use 'colors/flite-colors' as colors;
@use 'sass:map';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Flite-primary: mat.define-palette(colors.$md-fliteblue, 500);
$Flite-accent: mat.define-palette(colors.$md-fliteblue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Flite-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Flite-theme: mat.define-light-theme((
  color: (
    primary: $Flite-primary,
    accent: $Flite-accent,
    warn: $Flite-warn,
  ),
  typography: mat.define-typography-config(),
));

$Flite-button-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(colors.$md-fliteblue, 200),
    accent: mat.define-palette(colors.$md-fliteblue, black)
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Flite-theme);
@include mat.core-theme($Flite-theme);

@include mat.button-theme($Flite-button-theme);

// Custom CSS overrides
.mat-app-background {
  background-color: map.get(colors.$md-fliteblue, 500) !important;
}
