h1 {
  font-weight: bold;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px;
}

.input-field {
  width: 100%;
  margin-bottom: 16px;
}

.login-form {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 21px;
}

#balloon1,
#balloon2,
#balloon3 {
  position: fixed;
  z-index: 1;
}

#balloon1 {
  bottom: 0;
  width: 18em;
}

#balloon2 {
  top: 5em;
  right: 0;
  width: 15em;
}

#balloon3 {
  top: 0;
  left: 0;
  width: 10em;
}

.animate-left {
  animation: flyLeft 4s ease-in-out 2;
  animation-direction: alternate;
}

.animate-right {
  animation: flyRight 4s ease-in-out 2;
  animation-direction: alternate;
}

#cloud1,
#cloud2,
#cloud3 {
  position: fixed;
}

#cloud1 {
  top: 0;
  left: -5em;
  width: 5em;
  animation: floatRight 20s ease-in alternate infinite;
}

#cloud2 {
  bottom: 0;
  right: -20em;
  width: 20em;
  animation: floatLeft 20s ease-in alternate infinite;
}

#cloud3 {
  top: 5em;
  right: -10em;
  width: 10em;
  animation: floatLeft 15s ease-in alternate infinite;
  z-index: 1;
}

/* Balloon animation moving left */
@keyframes flyLeft {
  0% {
    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(-20%, -30%) scale(1.2);
  }
  30% {
    transform: translate(-40%, -60%) scale(1.4);
  }
  70% {
    transform: translate(-60%, -90%) scale(1.2);
  }
  100% {
    transform: translate(-80%, -120%) scale(1);
  }
}

/* Balloon animation moving right */
@keyframes flyRight {
  0% {
    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(20%, -30%) scale(1.2);
  }
  30% {
    transform: translate(40%, -60%) scale(1.4);
  }
  70% {
    transform: translate(60%, -90%) scale(1.2);
  }
  100% {
    transform: translate(80%, -120%) scale(1);
  }
}

/* Cloud animation moving right */
@keyframes floatRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200vw, -50%);
  }
}

/* Cloud animation moving left */
@keyframes floatLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-150vw, 30%);
  }
}
