.toolbar {
  padding: 0 16px;
  background-color: rgb(215, 242, 249);
}

.main-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  height: 100vh;
}

.form-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #133e9c;
  border-radius: 8px;
  background-color: #1b69ae;

}

.button-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.button-container button {
  width: 100px;
}

@media (max-width: 600px) {
  .main-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 90%;
  }

}

h1 {
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Add space between title and form */
  color: white;
  text-align: center;
}
