.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background-color: rgb(215, 242, 249);
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  
  .profile {
    width: 50%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    background-color: rgb(234, 248, 251);
    text-align: center;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    
  }
  
  .icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .material-symbols-outlined.verified { 
    color: green;
 }

 .material-symbols-outlined{ 
  font-size: 38px;
}

.material-symbols-outlined.icon{
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  font-size: 84px;
}