<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<mat-toolbar class="toolbar">
  <span class="logbookTitle">Flight Logbook</span>
  <button mat-icon-button (click)="addLog()">
    <mat-icon>add</mat-icon>
  </button>
  <span class="sortDropdown">
    <mat-select
      [(ngModel)]="sortingOrder"
      (ngModelChange)="sortLogsByFlightNumber()">
      <mat-option value="asc">Low to High</mat-option>
      <mat-option value="desc">High to Low</mat-option>
    </mat-select>
  </span>
  <span class="logoutButton">
    <button mat-button (click)="logOut()">Logout</button>
  </span>
</mat-toolbar>

<div class="log-card-container">
  <mat-card *ngFor="let log of logs" class="log-card">
    <mat-card-header class="center-text">
      <div class="icon-container">
        <span
          class="material-symbols-outlined verified"
          *ngIf="log.verified === true">
          verified_user
        </span>
        <span class="material-symbols-outlined" *ngIf="log.verified === false">
          shield
        </span>
      </div>
      <mat-card-title class="mat-card-title">
        <div class="top-left">
          {{ log.flightNumber }}
        </div>

        <div>
          {{ formatTimestampDate(log.departureDateTime) }}
        </div>

        <div class="seperator">-</div>

        <div>
          {{ log.balloonRegistration }}
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <div>{{ log.balloonType }} - Group {{ log.balloonGroup }}</div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="center-text">
      <p>
        {{ log.selectedMunicipalityTakeOff | uppercase }} -
        {{ log.selectedMunicipalityLanding | uppercase }}
      </p>
      <p>
        {{ formatTimestampHour(log.departureDateTime) }} -
        {{ formatTimestampHour(log.arrivalDateTime) }}
      </p>
      <p>PIC: {{ log.pilotInCommand | uppercase }}</p>
    </mat-card-content>

    <mat-card-actions>
      <span
        ><button mat-raised-button class="button" (click)="openLogDetails(log)">
          More
        </button>

        <!-- Use ngIf to show delete button only for the last log -->
        <button
          mat-raised-button
          class="delete-button"
          *ngIf="isLastLog(log)"
          (click)="openConfirmationDialog(log)">
          Delete
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>
