.log-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; 
  background-color: rgb(215, 242, 249);
}



.log-card {
  width: 30%;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  background-color: rgb(234, 248, 251);
}

.mat-mdc-card-header{
  display: block !important; 
}

.mat-card-title div{
 display: inline;
}

.icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.material-symbols-outlined {
  font-size: 24px;
}

.center-text {
  text-align: center;
}

.material-symbols-outlined.verified { color: green; }

.mat-card-subtitle {
  display: block;
  margin-top: 5px;
}

.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@media only screen and (max-width: 1200px) {
  .log-card {
    width: 80%;
  }
}


@media only screen and (max-width: 380px) {
  .mat-card-title div{
    display: block;
   }

   .seperator{  
    visibility: hidden;
    display: none;
    position: absolute;  left: -999999px;
   }
}