<form [formGroup]="flightForm">
  <mat-form-field>
    <mat-label>Balloon Registration Number:</mat-label>
    <input
      matInput
      formControlName="balloonRegistration"
      [matAutocomplete]="auto"
      required />

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Balloon Group:</mat-label>
    <input matInput formControlName="balloonGroup" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Balloon Type:</mat-label>
    <input matInput formControlName="balloonType" required />
  </mat-form-field>
</form>
